<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h2>User info</h2>
<div th:if = "${user}">
    <table border="2">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName}"></td>
            <td th:text="${user.getSurName}"></td>
            <td th:text="${user.getAge}"></td>
            <td th:text="${user.getEmail}"></td>
            <td>
              <span  th:each="role : ${user.getRoles()}">
                <span th:text="${role.getName().substring(5)}"></span>
              </span>
            </td>

    </table>
</div>
<br/>
<br/>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>
</body>

</html>